.bloco-dark{
    text-align:center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    width: 800px;
    height: 600px;
    padding: 40px 0px;
}

.bloco-light{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    width: 800px;
    height: 1000px;
    padding: 40px 0px;
    text-align: center;
}

