body{
    background-color: black;
    color: yellow;
}


.main_title{
    
    font-family: Arial;
    font-size: 45px;
    font-style: italic;
    margin: auto;
}

.img_1{

    

}

.body_text1{



}

.title_1{



}

.word1{



}

.img_2{



}

.img_3{


}

.body_text2{


}

.title_2{


}

.title_3{



}

.fim{



}