
body{
    background-color: black;
    color: yellow;
}


.main_title{
    
    padding-left: 263px;
    padding-right: 100px;
    font-family: Verdana;
    font-size: 55px;
    font-style: italic;
    margin: 5px 50px 5px 50px;
}

.img_1{
    
    width: 224px;
    height: 225px;
    border: 3px solid yellow;
    border-radius: 60%;
    margin-top: 5px;
}

.img_1_2{
    
    height: 251px;
    padding-left: 370px;
    padding-right: 488px;
}

.body_1{
    
    padding-left: 50px;
    padding-right: 50px;
    border: 3px solid yellow;
    border-radius: 10px;
    text-align: center;
    font-family: Arial;
    font-size: 25px;
    margin: 5px 50px auto 50px;

}

.title_1{

    font-size: 45px;
    font-family: Arial;
    text-align: center;
    margin: auto;

}

.body_text1{
    
    text-align: center;
    margin: auto;

}

.img_2{

    margin: 13px auto 5px auto;

}

.word1{

    font-style: italic;
    text-decoration: underline;

}

.body_text2{

    text-align: center;
    margin: auto;

}

.img_3{

    border: 1px dotted yellow;
    width: 1442px;
    height: 1000px;

}

.body_text2{


}

.link_1{

    font-weight: bold;
    text-decoration: underline;

}

.title_2{


}

.title_3{



}

.fim{



}