body {
    background-color: rgb(231, 153, 199);
    font: normal 15pt Arial;
    }
    
    
    header {
        color: cornsilk;
        text-align: center;
    }
    
    
    section {
    background: rgb(146, 184, 255);
    border-radius: 10px;
    padding: 200px;
    width: 500px;
    height: 500px;
    margin: auto;
    box-shadow:5px 5px 10px black;
    text-align: center;
    margin: auto
    }
    
    
     footer {
        text-align: center;
     }