*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black ;
    color: white ;
    font-family: "Poppins", sans-serif;
}

#header-title{
    text-align: center;
}
#items{
    
}
.photo {
    align-items: right;
    margin-top: 20px;
    width: 300px;
    height: 250px;
    border: 3px solid red;
}

#item-descritpion{
    margin-top: 20px;
    margin-left: 7px;
}