*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:black;
    font-family: "Poppins", sans-serif;

}

#header-title{
    text-align: center;
    color: red;
}

 .photo {
    align-items: right;
    margin: 3px 100px;
    width: 300px;
    height: 250px;
    border-radius:15px;
    float:left;
}
#items{
    font-family: "Poppins",Georgia, 'Times New Roman', Times, serif;
    color:red
    
}
.title1{
    background-color: black;
}

#description1{
    color: rgba(255, 0, 0, 0.856);
}
#storage{
    display: flex;
}

.description{
    text-align:justify;
    font-size: 12px;
    font-family: monospace;
    text-indent: center;
    padding: 50px;
    background-color:black;
    color: white;
}



.photo1 {
    align-items: right;
    margin: 3px 50px;
    width: 350px;
    height: 300px;
    border-radius:15px;
    float:left;
}
.photo2 {
    align-items: right;
    margin: 3px 50px;
    width: 350px;
    height: 150px;
    border-radius:15px;
    float: left;
}
.photo3 {
    align-items: right;
    margin: 3px 50px;
    width: 190px;
    height: 210px;
    border-radius:15px;
    float:left;
}
.photo4 {
    align-items: right;
    margin: 3px 50px;
    width: 400px;
    height: 300px;
    border-radius:15px;
    float: left;
}
.photo5 {
    align-items: right;
    margin: 3px 50px;
    width: 260px;
    height: 230px;
    border-radius:15px;
    float:left
}
.photo6 {
    align-items: right;
    margin: 3px 50px;
    width: 260px;
    height: 230px;
    border-radius:15px;
    float: left;
}

.description3{
    font-style: italic;
}

