*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:linear-gradient(to left,black,rgb(238, 97, 97),black);
    font-family: "Poppins", sans-serif;

}

#header-title{
    font-style:italic;
    text-align: center;
    color: red;
    font-size:30px;
}


.title1{
    text-align: center;
}
 #items {
     text-align: center;
    
}
.photo2{
    margin: 3px 100px;
    width: 320px;
}

.photo{
    margin: 3px 100px;
    width: 320px;
    height: 250px;
}
#tempo{
    font-family: "Poppins",Georgia;
    color:red;
    font-size: 20px;   
}



.description{
    text-align:justify;
    font-size: 20px;
    font-family: monospace;
    text-indent: center;
    padding:5px;
    color:white;
}
