*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:rgba(255, 255, 255, 0.836);
    font-family: "Poppins", sans-serif;

}

#header-title{
    text-align: center;
    color: red;
}

 .photo {
    align-items: right;
    margin: 3px 100px;
    width: 300px;
    height: 250px;
    border-radius:15px;
    /* padding:20px    */
}
#items{
    font-family: "Poppins", italic;
    color:red
}
#description1{
    color: rgba(255, 0, 0, 0.856);
}
