*{
    margin: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #fafbfc;
}

header {
    background-color: rgb(2, 87, 34);
    padding: 10px;
    color: white;
    text-align: center;
}

main {
    padding: 30px 50px;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
}

.lineInput {
    display: grid;
    margin-bottom: 10px;
}
input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 0;
}
button{
    border: 0px;
    padding: 10px;
    outline: 0;
    background-color: rgb(2, 87, 34);
    color: white;
    border-radius: 3px;
    font-weight: bold;
    transition: all ease 0.3s;
}

button:hover{
    background-color: rgb(4, 65, 27);
}
.content {
    margin-top:15px;

}
table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
}

table th {
    background-color: rgb(214, 214, 214);
    padding: 1px 5px;
    text-align: left;
}

table th, td {
    padding: 1px 5px;
    text-align: left;
}

table td img {
    width: 22px;
    
}

.center {
    text-align: center;
}

