*{
    margin: 0;
}
body {
    font-family: 'Mukta', sans-serif;
}

header{
    background-color: rgb(147, 183, 224);
    padding:10px;
    color:rgb(226, 92, 175);
    text-align:center;
}
main{
    padding:30px 50px;
}