*{

    background-color: rgb(255, 156, 173);

}

body {
    
    display: block;
    border-radius: 5px;
    border: 5px solid white;    
    background-color: pink;
    margin-left: 30%;
    margin-right: 20%;
}

.titulo{

    background-color: rgb(255, 156, 173);
    font-family: Arial;

}

#um{

    display:block;
    margin: auto;

}

.cardarpio {

    border: 5px solid red;
}

#resultado {

    display: block;
    background-color: rgb(255, 156, 173);
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    color: black;
}
