*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:white; ;
    color:black; ;
    font-family: "Poppins", sans-serif;


}
.distance{
    text-align: justify;
    width: 30px;
    height: 30px;
}
#header-title{
    text-align: center;


}
/* <input type="text" id="num1" onblur="calcular();" />
<input type="text" id="num2" onblur="calcular();" />
<span id="resultado"></span>
</form> */