body{
    background-color: rgb(17, 58, 75);
    color: rgb(255, 255, 255);
}
.nome{
    margin-left: 50px; 
    text-align: center
}
.sobrenome{
    margin-left: 13px; 
    text-align: center
}
.idade{
    margin-left: 52px; 
    text-align: center
}
.peso{
    margin-left: 60px; 
    text-align: center
}

.form2{
    background-color: rgb(91, 157, 233);
    width: 40%;
    margin: auto ;
    margin-top: 50px;
    border-radius: 35px;
    text-align: center;
    height: 25em;
}
.peso1{
    margin-left: 65px; 
}
.altura1{
    margin-left: 50px;
}
.sexo1{
    margin-right: 135px;
}
