html{
    background-color: rgb(66, 64, 153);
    color: white;
}

.form{
    background-color: purple;
    border-radius: 50px;
    width: 340px;
    margin: auto;
    margin-top: 50px;
    height: 370px;
    font-weight: bold;

}
#imc{ 
    font-size: 30px;
    margin-left: 43%;
}

#peso{
    margin-left: 55px;
}

#peso1{
    margin-left: 30px;
}

#altura1{
    margin-left: 30px;
}
#altura{
    margin-left: 34px;
}


#enviar{
    margin-top: 20px;
    margin-left: 136px;
}
#reset{
    margin-left: 5px;
}
#resultado{
    margin-left: 35px;
    margin-top: 35px;
}