body{
    background-color:	#FF69B4;
    color: white;
}
div {
    text-align: center;
    width: 800px;
    height: 130px;
    margin: 0 auto;
    background-color: #DDA0DD;
    padding: 0 20px 2px 20px;
    border: 3px solid black;
  }
.Info {

    text-align: center;
    width: 750px;
    height: 50px;
    margin: 0 auto;
    background-color: #DDA0DD;
    padding: 0 20px 2px 20px;


}



